@keyframes slide-left {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  width: 100%;

  article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;

    h2 {
      font-size: 35px;
    }

    p {
      font-size: 15px;
    }
  }

  img {
    max-height: 80vh;
    max-width: 40vw;
    height: auto;
    width: auto;
  }
}

.hidden {
  opacity: 0;
}

.slideLeft {
  animation-name: slide-left;
  animation-duration: 1s;
}

.slideRight {
  animation-name: slide-right;
  animation-duration: 1s;
}
